certifi==2017.11.5
chardet==3.0.4
Django==1.11
django-filter==1.1.0
django-guardian==1.4.9
django-redis==4.8.0
djangorestframework==3.7.3
djangorestframework-bulk==0.2.1
djangorestframework-filters==0.10.2
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
idna==2.6
jdcal==1.3
numpy==1.13.3
olefile==0.44
openpyxl==2.4.9
pandas==0.21.1
Pillow==4.3.0
psycopg2==2.7.3.2
pycrypto==2.6.1
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.3
redis==2.10.6
requests==2.18.4
rest-condition==1.0.3
six==1.11.0
urllib3==1.22
xlrd==1.1.0
yunpian-python-sdk==1.0.0